.tabletop {
  border: 1px solid #eee;
  border-width: 1px 0 0 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

}

.tabletop__unit {
  width: 20%;
  padding-top: 20%;
  border: 1px solid #eee;
  border-width: 0 1px 1px 0;
}

.tabletop__unit_dir_n:after {
  transform: rotate(180deg);
}
.tabletop__unit_dir_s:after {
  transform: rotate(0deg);
}
.tabletop__unit_dir_e:after {
  transform: rotate(-90deg);
}
.tabletop__unit_dir_w:after {
  transform: rotate(90deg);
}

.tabletop__unit_active {
  position: relative;
}

.tabletop__unit_active:before {
  content: '';
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #e4002b;
  transform: translate(-50%, -50%);
}

.tabletop__unit_active:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: url('data:image/svg+xml,%3Csvg%20width%3D%2261%22%20height%3D%2268%22%20viewBox%3D%220%200%2061%2068%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EGroup%3C%2Ftitle%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M3.707%2021.797l53.103.16-26.692%2045.91-26.41-46.07zm43.135%205.875l-33.204-.1L30.153%2056.38l16.69-28.708zM49.403%2020.075h-7.66c0-6.334-5.15-11.488-11.484-11.488-6.336%200-11.49%205.154-11.49%2011.488h-7.658C11.112%209.517%2019.7.93%2030.26.93%2040.81.927%2049.402%209.516%2049.402%2020.074z%22%2F%3E%3Cpath%20d%3D%22M38.562%2014.506c0%201.796-1.453%203.252-3.252%203.252-1.793%200-3.252-1.456-3.252-3.252M29.567%2014.315c0%201.796-1.456%203.252-3.252%203.252-1.798%200-3.255-1.456-3.255-3.252M47.3%2040.188l1.88-3.06c2.526%201.554%205.85.757%207.405-1.774%201.55-2.53.757-5.852-1.773-7.405l1.875-3.06c4.22%202.587%205.543%208.124%202.96%2012.344-2.59%204.217-8.128%205.544-12.348%202.954z%22%2F%3E%3Cpath%20d%3D%22M50.833%2039.954h4.594v13.23h-4.594z%22%2F%3E%3Cpath%20d%3D%22M49.474%2060.838c-.973-.973-1.512-2.273-1.512-3.65%200-2.85%202.318-5.168%205.168-5.168%202.848%200%205.167%202.318%205.167%205.168%200%201.33-.51%202.596-1.423%203.56l-2.777-2.64c.24-.25.37-.575.37-.92%200-.738-.6-1.34-1.337-1.34-.738%200-1.34.602-1.34%201.34%200%20.357.14.69.39.943l-2.706%202.708zM14.632%2042.68l-1.877-3.06c-2.53%201.553-5.852.756-7.406-1.775-1.552-2.53-.757-5.852%201.773-7.406l-1.877-3.06C1.03%2029.967-.297%2035.505%202.29%2039.722c2.588%204.215%208.125%205.546%2012.342%202.956z%22%2F%3E%3Cpath%20d%3D%22M6.507%2042.44h4.595v10.745H6.507z%22%2F%3E%3Cpath%20d%3D%22M12.458%2060.838c.976-.973%201.514-2.273%201.514-3.65%200-2.85-2.32-5.168-5.167-5.168-2.85%200-5.167%202.318-5.167%205.168%200%201.33.505%202.596%201.423%203.56l2.775-2.64c-.237-.25-.368-.575-.368-.92%200-.738.6-1.34%201.338-1.34.738%200%201.338.602%201.338%201.34%200%20.357-.14.69-.393.943l2.708%202.708z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center;
  background-size: contain;
  /*transition: transform 100ms;*/
}
